<!DOCTYPE html> 
<html> 
    <style>
        .content {
            padding-top: 150px; 
        }

        video {
            padding-left: 15vw;
            width: 85vw;
        }
    </style>
    
<body> 
<% include ../views/templates/header %>

<div class="content">
       <p>Game Demo:</p>
        <video id="myVideo" width="400" controls>
                <source src="/demo1.mp4" type="video/mp4">
                Your browser does not support HTML5 video.
              </video>
              
</div>



</body> 
</html>
