<!DOCTYPE html>
<html>

<head>
    <% include config %> 
    <meta name="viewport" content="width=device-width, initial-scale=0.6, maximum-scale=0.6, user-scalable=0">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel = "icon" href =  "/GAIA.png" type = "image/x-icon">
    <title>GAIA</title>
    <style>
        
        

        p {
            margin-left: 10vw;
            margin-right: 10vw;
            font-size: 1.5em;
            /*font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));*/
            
        }

        @media only screen and (max-width: 1000px) {
            p {
            
        }
}
        
        
        @font-face {
            font-family: "Honeyflower-Regular";
            /* src: url('css/fonts/yoster.ttf') format("truetype"); Safari, Android, iOS */
            src: url('fonts/Xolonium-Regular.ttf') format("truetype");
        }
        
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        
        html {
            background-color: #fff;
            color: #555;
            /* font-family: 'Lato', 'Arial','sans-serif'; */
            font-family: "Honeyflower-Regular" !important;
            font-weight: 300;
            font-size: 20px;
            text-rendering: optimizeLegibility;
        }
        
        .row {
            max-width: 1140px;
            margin: 0 auto;
        }
        
        header {
            /* background-image:linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.7)),url(https://i.imgur.com/wlg3Xf5.png); */
            /*background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.7)), url("files/images/earth2.jpg");*/
            background-size: cover;
            background-position: center;
            height: calc(var(--height));
        }
        
        h1 {
            margin: 0;
            margin-bottom: 20px;
            color: #fff;
            font-size: 240%;
            font-weight: 300;
            text-transform: uppercase;
            letter-spacing: 1px;
            word-spacing: 4px;
            text-shadow: 2px 2px 9px rgba(0, 0, 10, .8);
        }
        
        .dropdown {
            position: relative;
            display: inline-block;
        }
        
        .dropdown-content {
            display: none;
            position: absolute;
            margin-left: -7em;
            background-color: #f1f1f1;
            min-width: 160px;
            overflow: auto;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            z-index: 1;
            width: 8em;
        }
        
        .show {
            display: block;
        }
        
        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }
        
        .main-nav {
            float: left;
            list-style: none;
            margin-top: 55px;
        }
        
        .main-nav li {
            display: inline-block;
            margin-left: 40px;
        }
        
        .main-nav li a,
        .main-nav li a:visited {
            color: #fff;
            text-decoration: none;
            text-transform: uppercase;
            font-size: 1.6em;
            border-bottom: 2px solid transparent;
            transition: border-bottom .2s;
            padding: 5px 0;
            text-shadow: 2px 2px 9px rgba(0, 0, 10, .8);
        }
        
        .main-nav li a:hover,
        .main-nav li a:active {
            border-bottom: 2px solid var(--complement-color);
            transition: border-bottom .2s;
        }
        
        .nav-container {
            z-index: 1;
            position: fixed;
            width: 100vw;
            height: 130px;
            background-color: var(--main-color-transparent);
        }
        
        .nav-container.solid-nav {
            background-color: var(--main-color);
            transition: background-color 0.5s linear;
        }
        .user.register {
                font-size: 1em;
            }
    </style>

</head>

<body>
        <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
        <script src="js/bootstrap.js"></script>
        <script
        src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous"></script>
        <script src="https://www.gstatic.com/firebasejs/5.8.2/firebase.js"></script>
<script>
    // Initialize Firebase
    var config = {
        apiKey: "AIzaSyCrphpoB8N9n52mf1E6V5vVbNTkaaS_V-Q",
        authDomain: "gaia-f511d.firebaseapp.com",
        databaseURL: "https://gaia-f511d.firebaseio.com",
        projectId: "gaia-f511d",
        storageBucket: "gaia-f511d.appspot.com",
        messagingSenderId: "1066778570053"
    };
    firebase.initializeApp(config);
</script>
        
        <nav class="nav-container">
            <div class="row">
                <ul class="main-nav">
                    <li><a href="/">GAIA</a></li>
                    <li class="hidden-sm hidden-xs"><a href="https://www.globalmangrove.org/adopt-a-tree">Purchase GRO</a></li>
                    <li class="hidden-sm hidden-xs"><a href="/tutorial">Tutorial</a></li>
                    <li class="hidden-sm hidden-xs"><a href="/wikis">Wikis</a></li>
                    <li class="hidden-sm hidden-xs"><a href="/download">Download</a></li>
                    <li><a href="JavaScript:void(0);" class="user">&equiv;
                                  <div id="myDropdown" class="dropdown-content">
                                      <a id="signout" href="JavaScript:void(0);">SignOut</a>
            </div>
            </a>
    
            </ul>
            </div>
        </nav>

    <script>
        // Close the dropdown if the user clicks outside of it   
        // firebase.auth().onAuthStateChanged(function(user) {
        //             if (user) {
        //                 $(".user").addClass("register")
        //                 $(".user").text(user.email);
        //             } else {
        //                 // No user is signed in.
        //             }
        //         });
        
        $("#signout").click(function() {
            firebase.auth().signOut();
            localStorage.setItem("gaiausername","");
            $(".user").removeClass("register")
            $(".user").text("\uef72");
        })
        window.onclick = function(event) {
            if (!event.target.matches('.user')) {
                var dropdowns = document.getElementsByClassName("dropdown-content");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('show')) {
                        openDropdown.classList.remove('show');
                    }
                }
            } else {
                document.getElementById("myDropdown").classList.toggle("show");
            }
        }

        function consistentHeader() {
            var height = $('header').height();
                var scrollTop = $(window).scrollTop();
                var docHeight = $(document).height();
                var winHeight = $(window).height();
                //var winHeight = 100;
                var colorToken = $(".nav-container").css("background-color").split(",");
                console.log(colorToken);
                colorToken.pop();
                colorToken.join(",");
                $('.nav-container').css('background-color', colorToken + ","+ Math.min(scrollTop / (winHeight), 0.99) + ')')
                console.log(colorToken + ","+ Math.min(scrollTop / (winHeight), 1) + ')');
                if (screen.width >= 480) {
                    $('.main-nav').css('margin-top', 55 - 20 * Math.min(scrollTop, winHeight) / winHeight)
                    $('.nav-container').css('height', 130 - 40 * Math.min(scrollTop, winHeight) / winHeight)
                }
        }

        $(document).ready(function() {
            consistentHeader();

            $(window).scroll(function() {

                consistentHeader();

            });
        });

        
    </script>
</body>

</html>